
* {
	box-sizing: border-box;
/*	font-size: 14px;
*/	line-height: 120%;
}

a {
	text-decoration: none;
	color: #4e4e4e;
}

a:hover {
	color: #161616;
}

small ,small a {
	font-size: 11px;
}

body {
	margin:10px;
	padding:0;
	background: #fff;
	font-family: Helvetica;
	color: #4e4e4e;
	margin-right: 0px;
}


header .top {
	width: 1fr;
	height: 40px;
	margin: 0 auto;
}


header .head {
	width: 1fr;
	height: 110px;
	margin: 0 auto;
	clear: both;
}

header .head .logo {
	display: block;
	float: left;
	width: 200px;
	height: 53px;
	background: url('../img/logo.png') top left no-repeat;
	margin: 30px;

}

header .head .logo-text {
	font-size: 20px;
	font-weight: bold;
}

header .head .logo em {
	display: none;

}

.gachonlogo{
	float: right;
	margin: 20px;
}




header .head .top-banner {
	display: block;
	float: right;
	width: 468px;
	height: 60px;
	margin-top: 23px;
}

header nav {
	width: 1fr;
	height: 40px;
	margin: 0 auto;
	clear: both;
	background-color: #909090;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul li {
	display: inline;

	margin:0;
}

header nav ul li a {
	display: inline-block;
	color: #3e3e3e;
	padding: 9px 10px;
	font-size: 16px;
	height: 40px;
	font-weight: bold;
}

header nav ul li a:hover , header nav ul li a.active {
	background-color: #b5b5b5;
	color: #fff!important;
}

header nav ul li.dropdown {
	position: relative;
	display: inline-block;
}

header nav ul li.dropdown .dropdown-menu {
	position: absolute;
	display: none;
	background: #f2f2f2;
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
}

header nav ul li.dropdown .dropdown-menu a {
	width: 100%;
	border-bottom: 1px solid #ebcac7;
	font-size: 12px;
	height: 30px;
}

header nav ul li.dropdown:hover .dropdown-menu {
	display: block;
}

.slider {
	background: #e4e4e4;
	padding: 10px;
	border-bottom: 1px solid #cecece;
}

.slider .inner {
	margin: 0 auto;
	width: 1fr;
	height: 171px;
}


.col-main {
	float: left;
	width: 75%;
  border-right: solid 1px gray;
  padding: 10px;

}

.col-main-full {
	float: left;
	width: 1fr;
	padding: 10px;
}

.members-content{
	width: 1fr;
}

.memb{
	display: grid;
	grid-template-columns: 160px 1fr;
	font-size: 20px;
}

.Reasearchcontent{
	margin: 20px;

}



.col-right {
	float: left;
	width: 25%;
	display: block;
	padding: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.contact input[type="text"], .contact textarea {
	border: 1px solid #e0e0e0;
	padding: 5px;
	width: 300px;
}

.contact input[type="text"]:hover, .contact textarea:hover,
.contact input[type="text"]:focus, .contact textarea:focus {
	border: 1px solid #e44238;
}

.contact #message {
	width: 100%;
	height: 140px;
}

.contact input[type="submit"] {
	border: none;
	background-color: #b7b7b7;
	color: #fff;
	padding: 3px 10px;
	font-size: 12px;
	cursor: pointer;
}

.contact input[type="submit"]:hover {
	background-color: #424242;
}

/* Articles */
.content article {
	border: 1px solid #dfdfdf;
	padding: 0;
	margin: 10px 0;
}

.content article h2 {
	margin-left: 20px;
}

.content article .abstract {
	padding: 10px;
}

.content article ul.tags {
	list-style: none;
	padding: 10px;
	margin: 0;
}

.content article ul.tags li {
	display: inline;
}

.content article ul.tags li a {
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid #dddddd;
	color: #aeaeae;
	font-size: 11px;
	border-radius: 4px;
}

.content article ul.tags li a:hover {
	background: #e8e8e8;
	color: #919191;
}

.content article .bottom-bar {
	background: #dfdfdf;
	overflow: auto;
}

.content article .bottom-bar div {
	font-size: 11px;
	padding: 3px 10px;
	color: #7f7f7f;
}

.content article .bottom-bar .author {
	float: left;
}

.content article .bottom-bar .author a {
	color: #7f7f7f;
	font-size: 11px;
}

.content article .bottom-bar .author a:hover {
	color: #525252;
}

.content article .bottom-bar .date {
	float: right;
}

.content article .readmore {
	font-size: 12px;
	color: #c62f1a;
}

.content article .readmore span {
	font-size: 9px;
	font-weight: bold;
	font-family: tahoma;
}

.content .pagination {
	list-style: none;
	text-align: center;
}

.content .pagination li {
	display: inline;
}

.content .pagination li a {
	display: inline-block;
	border: 1px solid #dfdfdf;
	background: #ebebeb;
	padding: 1px 7px;
}

.content .pagination li a:hover , .content .pagination li a.active {
	background: #d4d4d4;
}
/**********/

img.thumb_medium {
    border: 1px solid #dbdbdb;
    padding: 5px;
    width: 230px;
		height: 150px;
}



img.thumb_medium:hover {
    box-shadow: 0 0 2px 2px #e2e2e2;

}

.news{
	border: 1px solid #dbdbdb;
	padding: 5px;
	margin: 20px;
	width: 230px;
	height: 180px;
	box-shadow: 0 0 2px 2px #e2e2e2;

}




hr {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e1dfdf;
	border-right:0;border-left:0;
}

footer {
	color: #fff;
	background: #4e4e4e;
	clear: both;
	display: flex;
	width: 1fr;
	text-align: left;

}

.fcontent{
	margin: 30px;
	margin-bottom: 10px;
	line-height: 150%;
}




footer a {
	color: #fff;
}



.clear {
	clear: both;
}

.google-map{
	padding: 5px;
	height: 600px;
}

#image {
	display: block;
	padding: 10px;
}

.Reasearchindex{
	display: flex;
}

.figure{
	margin: 20px;
}

.paper{
	margin: 20px;
	font-size: 24px;
}

section.content{
	padding: 10px;
}

.photos{
	vertical-align: inherit;
}

h3{
	margin: 0;
}

h1{
	margin: 10px;
}
